Repository openenclave/openenclave, pull requests merged in 2020-07, with the labels that each got.

#3172 reopen test case child_process_destroy
  tests/child_process/CMakeLists.txt
  tests/child_process/host/host.cpp
Labels: testing

#3209 Fix typo
  tests/CMakeLists.txt
  tests/tls_e2e/tls_e2e.edl
Labels: testing

#3228 Fix typos in Jenkins script that cause libcxx tests fail
  .jenkins/pipelines/Azure/Nightly/libcxx_tests.Jenkinsfile
Labels: ci/cd

#3213 Add documentation for system edls
  docs/GettingStartedDocs/APIs_and_Libs.md
  docs/SystemEdls.md
Labels: documentation

#3224 fix oesign digest usage typo
  tools/oesign/main.c
Labels: testing

#3232 Install oesnmalloc
  3rdparty/snmalloc/CMakeLists.txt
  enclave/core/CMakeLists.txt
  tests/snmalloc/enc/CMakeLists.txt
Labels: SGX, core, devex

#3234 Pluggable Allocator sample using snmalloc
  CHANGELOG.md
  docs/GettingStartedDocs/install_oe_sdk-Simulation.md
  samples/CMakeLists.txt
  samples/README_Linux.md
  samples/README_Windows.md
  samples/pluggable_allocator/CMakeLists.txt
  samples/pluggable_allocator/Makefile
  samples/pluggable_allocator/README.md
  samples/pluggable_allocator/allocator_demo.edl
  samples/pluggable_allocator/enclave/CMakeLists.txt
  samples/pluggable_allocator/enclave/Makefile
  samples/pluggable_allocator/enclave/allocator_demo.conf
  samples/pluggable_allocator/enclave/enc.cpp
  samples/pluggable_allocator/host/CMakeLists.txt
  samples/pluggable_allocator/host/Makefile
  samples/pluggable_allocator/host/host.cpp
  samples/test-samples.cmake
Labels: SGX, devex, samples

#3205 Add new documents for host-verify package
  docs/GettingStartedDocs/Linux_using_host_verify.md
  docs/GettingStartedDocs/VisualStudioLinux.md
  docs/GettingStartedDocs/VisualStudioWindows.md
  docs/GettingStartedDocs/Windows_using_host_verify.md
  docs/GettingStartedDocs/install_host_verify_Ubuntu_16.04.md
  docs/GettingStartedDocs/install_host_verify_Ubuntu_18.04.md
  docs/GettingStartedDocs/install_host_verify_Windows.md
  samples/host_verify/README.md
Labels: devex, documentation

#3260 Clear xstates on enclave entry to prevent ABI poisoning
  CHANGELOG.md
  SECURITY.md
  enclave/core/CMakeLists.txt
  enclave/core/sgx/asmcommon.inc
  enclave/core/sgx/asmdefs.c
  enclave/core/sgx/enter.S
  enclave/core/sgx/exception.c
  include/openenclave/internal/constants_x64.h
  tests/CMakeLists.txt
  tests/abi/CMakeLists.txt
  tests/abi/abi.edl
  tests/abi/enc/CMakeLists.txt
  tests/abi/enc/enc.cpp
  tests/abi/host/CMakeLists.txt
  tests/abi/host/abi.asm
  tests/abi/host/host.cpp
Labels: security

#3158 Document instructions for building SDK in non SGX Windows Machines
  docs/GettingStartedDocs/Contributors/WindowsSimulatorGettingStarted.md
  docs/GettingStartedDocs/Contributors/building_oe_sdk.md
  samples/README_Windows.md
Labels: SimulationMode, devex, documentation, windows

#3233 Attestation_API_Proposal.md: add flag to oe_get_evidence() to indicate if evidence will be wrapped
  docs/DesignDocs/Attestation_API_Proposal.md
Labels: API, attestation

#3270 Cleanup: OE_LINK_SGX_DCAP_QL -> OE_HAS_SGX_DCAP_QL
  common/sgx/verifier.c
  devex/vsextension/msbuild/open-enclave-cross.targets
  enclave/core/CMakeLists.txt
  host/CMakeLists.txt
  host/sgx/ocalls.c
  host/sgx/quote.c
  host/sgx/report.c
  host/sgx/sgxquote.c
  tests/attestation_cert_apis/host/host.cpp
  tests/attestation_plugin/host/host.c
  tests/debug-mode/host/host.c
  tests/eeid_plugin/host/host.c
  tests/qeidentity/enc/enc.cpp
  tests/qeidentity/host/CMakeLists.txt
  tests/qeidentity/host/host.cpp
  tests/qeidentity/host/qeidentifyinfo.cpp
  tests/report/common/tests.cpp
  tests/report/enc/enc.cpp
  tests/report/host/CMakeLists.txt
  tests/report/host/host.cpp
  tests/tls_e2e/client_enc/CMakeLists.txt
  tests/tls_e2e/host/host.cpp
  tests/tls_e2e/server_enc/CMakeLists.txt
  tests/tools/oecert/host/host.cpp
  tests/tools/oecertdump/host/CMakeLists.txt
  tests/tools/oecertdump/host/host.cpp
  tests/tools/oecertdump/host/sgx_quote.cpp
Labels: SGX

#3277 Remove dependency on sgx_dcap_ql_wrapper.h for building SDK.
  host/sgx/sgxquote.c
  include/openenclave/bits/sgx/sgxtypes.h
Labels: SGX, build, devex

#3282 Remove OE_HAS_SGX_DCAP_QL define.
  common/sgx/verifier.c
  devex/vsextension/msbuild/open-enclave-cross.targets
  host/CMakeLists.txt
  host/sgx/tests.c
  include/openenclave/internal/sgx/tests.h
  tests/attestation_cert_apis/host/host.cpp
  tests/attestation_plugin/host/host.c
  tests/debug-mode/host/host.c
  tests/eeid_plugin/host/host.c
  tests/qeidentity/enc/CMakeLists.txt
  tests/qeidentity/enc/enc.cpp
  tests/qeidentity/host/CMakeLists.txt
  tests/qeidentity/host/host.cpp
  tests/qeidentity/host/qeidentifyinfo.cpp
  tests/report/common/tests.cpp
  tests/report/enc/CMakeLists.txt
  tests/report/enc/enc.cpp
  tests/report/host/CMakeLists.txt
  tests/report/host/host.cpp
  tests/tls_e2e/client_enc/CMakeLists.txt
  tests/tls_e2e/host/host.cpp
  tests/tls_e2e/server_enc/CMakeLists.txt
  tests/tools/oecert/host/CMakeLists.txt
  tests/tools/oecert/host/host.cpp
  tests/tools/oecertdump/host/CMakeLists.txt
  tests/tools/oecertdump/host/host.cpp
  tests/tools/oecertdump/host/sgx_quote.cpp
Labels: SGX, build

#3292 Reduce maximum threads to 8 for snmalloc sample.
  samples/pluggable_allocator/README.md
  samples/pluggable_allocator/enclave/allocator_demo.conf
  samples/pluggable_allocator/enclave/enc.cpp
Labels: SGX, samples

#3290 Fix regression: Ensure that all samples are tested via ctest
  samples/CMakeLists.txt
Labels: bug, samples, testing

#2801 Attestation: concepts and assumptions behind the OE SDK API
  docs/DesignDocs/NotesOnAttestationAPI.md
Labels: attestation

#3161 Allow a plugin attester for generating a custom report - Fixes #3139
  common/attest_plugin.c
  common/sgx/tlsverifier.c
  enclave/tls_cert.c
  include/openenclave/attestation/attester.h
  include/openenclave/attestation/verifier.h
  include/openenclave/bits/evidence.h
  include/openenclave/host_verify.h
  tests/CMakeLists.txt
  tests/attestation_plugin_cert/CMakeLists.txt
  tests/attestation_plugin_cert/README.md
  tests/attestation_plugin_cert/enc/CMakeLists.txt
  tests/attestation_plugin_cert/enc/enc.cpp
  tests/attestation_plugin_cert/host/CMakeLists.txt
  tests/attestation_plugin_cert/host/host.cpp
  tests/attestation_plugin_cert/tls.edl
Labels: attestation

#3288 Remove HAS_QUOTE_PROVIDER cmake option.
  CHANGELOG.md
  CMakeLists.txt
  CMakeSettings.json
  devex/vscode-extension/scripts/003-prepare-devkit.sh
  docs/GettingStartedDocs/Contributors/ExperimentalSupportRHEL8.md
  docs/GettingStartedDocs/Contributors/OPTEEGettingStarted.md
  docs/GettingStartedDocs/Contributors/RunningStaticAnalysis.md
  docs/GettingStartedDocs/Contributors/SGX1GettingStarted.md
  docs/GettingStartedDocs/Contributors/SimulatorGettingStarted.md
  docs/GettingStartedDocs/Contributors/WindowsInstallInfo.md
  docs/GettingStartedDocs/Contributors/WindowsSGX1GettingStarted.md
  docs/GettingStartedDocs/Contributors/WindowsSimulatorGettingStarted.md
  docs/GettingStartedDocs/OP-TEE/Debugging/QEMU.md
  docs/GettingStartedDocs/OP-TEE/Hardware/ScalysTrustBox.md
  host/CMakeLists.txt
  samples/CMakeLists.txt
  samples/check_quote_provider.cmake
  samples/test-samples.cmake
  scripts/README.md
  scripts/test-build-config
  tests/attestation_plugin_cert/host/CMakeLists.txt
  tests/attestation_plugin_cert/host/host.cpp
Labels: SGX, build, samples

#3321 Explicitly load libsgx_enclave_common.so.1
  host/sgx/sgx_enclave_common_wrapper.c
Labels: SGX, bug, devex, ubuntu-18.04

#3317 Use enclave_link_libraries instead of TARGET_OBJECTS
  3rdparty/dlmalloc/CMakeLists.txt
  3rdparty/snmalloc/CMakeLists.txt
  enclave/core/CMakeLists.txt
Labels: SGX, build

#3324 oe_verifier_get_format_settings return OE_OK
  common/attest_plugin.c
  tests/attestation_plugin/enc/enc.c
Labels: attestation

#3332 Remove suppressing of mscompatibility flags.
  scripts/clangw
Labels: SGX, windows

#3268 Integrate with SGX quote-ex library for EPID evidence generation
  3rdparty/CMakeLists.txt
  3rdparty/sgxsdk/README.md
  3rdparty/sgxsdk/include/sgx_attributes.h
  3rdparty/sgxsdk/include/sgx_defs.h
  3rdparty/sgxsdk/include/sgx_eid.h
  3rdparty/sgxsdk/include/sgx_error.h
  3rdparty/sgxsdk/include/sgx_key.h
  3rdparty/sgxsdk/include/sgx_pce.h
  3rdparty/sgxsdk/include/sgx_ql_lib_common.h
  3rdparty/sgxsdk/include/sgx_quote.h
  3rdparty/sgxsdk/include/sgx_quote_3.h
  3rdparty/sgxsdk/include/sgx_report.h
  3rdparty/sgxsdk/include/sgx_uae_quote_ex.h
  3rdparty/sgxsdk/include/sgx_urts.h
  3rdparty/sgxsdk/update.make
  enclave/core/sgx/report.c
  enclave/sgx/attester.c
  enclave/sgx/report.c
  host/CMakeLists.txt
  host/sgx/linux/sgxquoteexloader.c
  host/sgx/sgxquote.c
  host/sgx/sgxquote_ex.h
  host/sgx/windows/sgxquoteexloader.c
  scripts/.check-license.ignore
  tests/attestation_plugin/enc/enc.c
Labels: SGX, attestation
