Repository openenclave/openenclave, pull requests merged in 2020-05, with the labels that each got.

#2971 Add Windows 2019 nightly to master
  .jenkins/pipelines/Azure/Nightly/Packaging.Jenkinsfile
Labels: ci/cd

#2962 Update Azure DCAP Client to latest release
  docs/GettingStartedDocs/Contributors/WindowsManualSGX1FLCDCAPPrereqs.md
  scripts/ansible/oe-windows-acc-setup.yml
  scripts/install-windows-prereqs.ps1
Labels: azure specific

#2938 Ignore MSVC-compatible clang flags in clangw
  scripts/clangw
Labels: windows

#2950 Enable the memory test on Windows
  tests/CMakeLists.txt
  tests/memory/README.md
  tests/memory/enc/CMakeLists.txt
  tests/memory/enc/boundaries.c
  tests/memory/enc/enc.c
  tests/memory/enc/stress.c
  tests/memory/host/host.cpp
Labels: SGX, testing, windows

#2980 v2 collateral verify changes
  common/sgx/collateral.c
  common/sgx/tcbinfo.c
  tests/report/data_v2/tcbInfoNegativeTcbType.json
  tests/report/host/tcbinfo.cpp
Labels: SGX, attestation

#2983 Update Clang version for RHEL
  scripts/ansible/roles/linux/openenclave/vars/redhat/main.yml
Labels: ansible

#2964 Propose OE Enclave Runtime Support for OpenSSL
  docs/DesignDocs/enclave_openssl_support.md
  docs/DesignDocs/images/oe_crypto_openssl.svg
Labels: core, design

#2966 Docs on setting up OpenEnclave SGX and Intel QPL in Linux on non-ACC machines
  docs/GettingStartedDocs/Contributors/NonAccMachineSGXLinuxGettingStarted.md
  docs/GettingStartedDocs/Contributors/SGX1FLCGettingStarted.md
  docs/GettingStartedDocs/images/config.png
  docs/GettingStartedDocs/images/intel-account.png
  docs/GettingStartedDocs/images/nodejs.png
  docs/GettingStartedDocs/images/primary-key.png
  docs/GettingStartedDocs/images/subscribe1.png
  docs/GettingStartedDocs/images/subscribe2.png
Labels: SGX, documentation, linux

#2888 add enclave loading testing in simulation mode
  tests/CMakeLists.txt
  tests/sim-mode/CMakeLists.txt
  tests/sim-mode/README.md
  tests/sim-mode/enc/CMakeLists.txt
  tests/sim-mode/enc/enc.c
  tests/sim-mode/enc/props.c
  tests/sim-mode/enc/sign.conf
  tests/sim-mode/host/CMakeLists.txt
  tests/sim-mode/host/host.c
  tests/sim-mode/sim_mode.edl
Labels: SimulationMode, testing

#3016 Set gsbase prior to entering the enclave in SGX Simulation mode
  host/sgx/enter.c
  host/sgx/registers.c
  include/openenclave/internal/registers.h
Labels: SGX, core

#2965 add switchless worker threads sleep and resume test
  tests/CMakeLists.txt
  tests/switchless_worksleep/CMakeLists.txt
  tests/switchless_worksleep/enc/CMakeLists.txt
  tests/switchless_worksleep/enc/enc.cpp
  tests/switchless_worksleep/host/CMakeLists.txt
  tests/switchless_worksleep/host/host.cpp
  tests/switchless_worksleep/switchless_worksleep.edl
Labels: testing

#2774 add fragment tests
  tests/memory/README.md
  tests/memory/enc/CMakeLists.txt
  tests/memory/enc/fragment.c
  tests/memory/host/CMakeLists.txt
  tests/memory/host/host.cpp
  tests/memory/memory.edl
Labels: testing

#2969 Pre-allocating memory for quote verification collaterals before an ocall
  enclave/sgx/collateralinfo.c
Labels: SGX, attestation

#3026 Update signing doc with OP-TEE info
  docs/GettingStartedDocs/buildandsign.md
Labels: OP-TEE, documentation

#3012 [CI/CD] Enable RHEL 8 attestation
  .jenkins/infrastructure/provision/templates/packer/azure_managed_image/packer-rhel.json
  .jenkins/pipelines/Agnostic/Linux/Jenkinsfile
  .jenkins/pipelines/Azure/Linux/Jenkinsfile
  .jenkins/pipelines/Azure/Windows/Jenkinsfile
  scripts/ansible/roles/linux/az-dcap-client/tasks/redhat/stable-install.yml
  scripts/ansible/roles/linux/az-dcap-client/vars/redhat/main.yml
  scripts/ansible/roles/linux/common/tasks/yum-repo.yml
  scripts/ansible/roles/linux/intel/tasks/redhat/sgx-driver-requirements.yml
  scripts/ansible/roles/linux/intel/tasks/redhat/sgx-packages-install.yml
  scripts/ansible/roles/linux/intel/vars/redhat/main.yml
  scripts/ansible/roles/linux/intel/vars/redhat/ootpa.yml
  scripts/ansible/roles/linux/intel/vars/ubuntu/bionic.yml
  scripts/ansible/roles/linux/intel/vars/ubuntu/xenial.yml
  scripts/ansible/roles/linux/openenclave/tasks/redhat/packages-install.yml
Labels: attestation, ci/cd, linux

#3045 Handle case where a thread may miss the notify_all call.
  tests/thread/host/host.cpp
Labels: testing

#3040 Fix libcxxrt test result on Windows.
  .gitattributes
  tests/libcxxrt/results/exp_test_guard_output.log
  tests/libcxxrt/results/exp_test_typeinfo_output.log
Labels: testing, windows

#3018 Fix #2808, remove endorsement field CRL_ISSUER_CHAIN_PCK_PROC_CA.
  CHANGELOG.md
  common/sgx/collateral.c
  common/sgx/endorsements.c
  common/sgx/endorsements.h
  docs/DesignDocs/RemoteAttestationCollaterals.md
  include/openenclave/bits/attestation.h
Labels: SGX, attestation

#3065 Switchless one tcs test from Intel and accompanying code fix
  host/sgx/create.c
  host/sgx/switchless.c
  tests/CMakeLists.txt
  tests/switchless_one_tcs/CMakeLists.txt
  tests/switchless_one_tcs/enc/CMakeLists.txt
  tests/switchless_one_tcs/enc/enc.c
  tests/switchless_one_tcs/host/CMakeLists.txt
  tests/switchless_one_tcs/host/host.c
  tests/switchless_one_tcs/switchless_one_tcs.edl
Labels: SGX, core, testing

#3076 Adding oe_buffer_too_small checks for all collateral buffers
  host/sgx/ocalls.c
Labels: SGX, attestation

#3062 SGX: Decouple the td structure from fs register on enter and exit
  enclave/core/sgx/asmcommon.inc
  enclave/core/sgx/asmdefs.h
  enclave/core/sgx/calls.c
  enclave/core/sgx/enter.S
  enclave/core/sgx/exit.S
  enclave/core/sgx/td.c
Labels: SGX
