Repository openenclave/openenclave, pull requests merged in 2020-08, with the labels that each got.

#3305 Enable to build and install host-verify package and run host-verify sample on CI/CD
  .jenkins/pipelines/Azure/Linux/Jenkinsfile
Labels: ci/cd

#3207 Add check to ensure EEID data is within enclave memory.
  enclave/core/sgx/init.c
  host/sgx/create.c
  include/openenclave/internal/eeid.h
Labels: SGX

#3363 Minor improvements to quote-ex integration implementation
  common/sgx/verifier.c
  enclave/sgx/attester.c
  host/sgx/sgxquote.c
Labels: attestation

#3356 Make default SGX_SIGSTRUCT_ATTRIBUTEMASK_XFRM more restrictive
  host/sgx/sgxsign.c
  include/openenclave/bits/sgx/sgxtypes.h
Labels: SGX

#3302 Local Attestation Sample Demonstrating Consumption of New Evidence API
  samples/local_attestation/common/attestation.cpp
  samples/local_attestation/common/attestation.h
  samples/local_attestation/common/dispatcher.cpp
  samples/local_attestation/enclave_a/Makefile
  samples/local_attestation/enclave_b/Makefile
  samples/remote_attestation/common/attestation.cpp
Labels: attestation, samples

#3381 Remove use of TD_FROM_TCS_BYTE_OFFSET
  debugger/ptraceLib/enclave_context.c
  enclave/core/sgx/enter.S
  enclave/core/sgx/td.c
  host/sgx/loadelf.c
  include/openenclave/internal/constants_x64.h
  tests/debugger/oegdb/enc/contract.c
Labels: SGX, core

#3358 Add helper functions to serialize, deserialize custom claims, issue 3303
  common/custom_claims.c
  enclave/CMakeLists.txt
  host/CMakeLists.txt
  include/CMakeLists.txt
  include/openenclave/attestation/custom_claims.h
  tests/CMakeLists.txt
  tests/custom_claims/CMakeLists.txt
  tests/custom_claims/custom_claims.edl
  tests/custom_claims/enc/CMakeLists.txt
  tests/custom_claims/enc/enc.c
  tests/custom_claims/host/CMakeLists.txt
  tests/custom_claims/host/host.c
  tests/custom_claims/test_common/tests.c
  tests/custom_claims/test_common/tests.h
Labels: API, attestation

#3388 Update UsingTheIOSubsystem.md
  docs/UsingTheIOSubsystem.md
Labels: documentation

#3342 Add design doc for oe_log_message() callback function
  docs/DesignDocs/oe_log_message()_callback_proposal.md
Labels: API, design

#3408 Extend attestation certificate verifiers to support multiple OIDs
  common/attest_plugin.c
  common/sgx/tlsverifier.c
  common/sgx/verifier.c
  include/openenclave/bits/evidence.h
  include/openenclave/internal/evidence.h
  include/openenclave/internal/report.h
  tests/attestation_cert_apis/enc/enc.cpp
Labels: attestation

#3373 Add CCC Technical Charter
  TECHNICAL_CHARTER.md
Labels: documentation, process

#3427 Add custom_claims.h to Doxygen
  include/openenclave/attestation/custom_claims.h
Labels: API, attestation, documentation

#3432 Refactor oeptrace library for easier upstreaming.
  debugger/CMakeLists.txt
  debugger/ptraceLib/CMakeLists.txt
  debugger/ptraceLib/contract.h
  debugger/ptraceLib/enclave_context.c
  debugger/ptraceLib/enclave_context.h
  debugger/ptraceLib/inferior_status.c
  debugger/ptraceLib/inferior_status.h
  debugger/ptraceLib/ptrace.c
  debugger/ptraceLib/sgxtypes.h
Labels: SGX, devtools

#3445 Add oe_verify_report_internal() to liboehostverify.a
  host/CMakeLists.txt
  host/sgx/report.c
  host/sgx/report_common.c
  samples/host_verify/host.c
Labels: attestation

#3441 Update SGX format IDs for support of OE reports and raw SGX quotes
  common/attest_plugin.c
  common/attest_plugin.h
  common/sgx/verifier.c
  enclave/sgx/attester.c
  enclave/sgx/report.c
  enclave/sgx/report.h
  host/sgx/report.c
  host/sgx/sgxquote.c
  include/openenclave/attestation/sgx/evidence.h
  include/openenclave/bits/sgx/sgxtypes.h
  include/openenclave/internal/report.h
  samples/attested_tls/common/utility.cpp
  samples/remote_attestation/common/attestation.cpp
  tests/attestation_plugin/enc/enc.c
  tests/attestation_plugin/plugin/tests.c
  tests/attestation_plugin_cert/enc/enc.cpp
  tests/report/host/host.cpp
Labels: SGX, attestation
