Repository openenclave/openenclave, pull requests merged in 2020-12, with the labels that each got.

#3753 Mitigate indirect jumps in assembly code.
  enclave/core/sgx/context.inc
  enclave/core/sgx/longjmp.S
Labels: SGX, security

#3726 Add Enclave Init-time Configuration Interface design doc.
  docs/DesignDocs/InitTimeConfigurationInterface.md
Labels: API, attestation

#3772 Correctly determine AVX support.
  host/sgx/create.c
Labels: SGX, bug

#3780 Enable clang-8 support.
  .jenkins/pipelines/Azure/Linux/Jenkinsfile
  CMakeLists.txt
  tests/cppException/enc/cppException.cpp
Labels: SGX, build, core

#3784 Update handling of empty format settings for SGX ECDSA evidence
  host/sgx/sgxquote.c
  samples/attestation/common/dispatcher.cpp
Labels: SGX, attestation
