Repository openenclave/openenclave, pull requests merged in 2020-09, with the labels that each got.

#3435 Update quorum and voting rules to be two-thirds in Technical Charter
  TECHNICAL_CHARTER.md
Labels: process

#3451 Update OpenSSL build configuration based on Mbed
  3rdparty/openssl/CMakeLists.txt
  3rdparty/openssl/bn_conf.h
  3rdparty/openssl/dso_conf.h
  3rdparty/openssl/opensslconf.h
  3rdparty/openssl/update.make
  docs/DesignDocs/CryptoLibConfiguration.md
  docs/OpenSSLSupport.md
  tests/openssl/CMakeLists.txt
  tests/openssl/tests.supported
  tests/openssl/tests.unsupported
Labels: design, security

#3366 ECALL Implementation: Support global ids
  docs/Community/DevelopmentGuide.md
  host/CMakeLists.txt
  host/calls.c
  host/ecall_ids.c
  host/ecall_ids.h
  host/optee/linux/enclave.c
  host/optee/linux/enclave.h
  host/sgx/create.c
  host/sgx/enclave.h
  host/sgx/switchless.c
  include/openenclave/edger8r/host.h
  include/openenclave/host.h
  tests/CMakeLists.txt
  tests/ecall_conflict/CMakeLists.txt
  tests/ecall_conflict/common.edl
  tests/ecall_conflict/enc1.edl
  tests/ecall_conflict/enc1/CMakeLists.txt
  tests/ecall_conflict/enc1/enc.c
  tests/ecall_conflict/enc2.edl
  tests/ecall_conflict/enc2/CMakeLists.txt
  tests/ecall_conflict/enc2/enc.c
  tests/ecall_conflict/host/CMakeLists.txt
  tests/ecall_conflict/host/host.cpp
  tests/oeedger8r/host/teststring.cpp
Labels: OP-TEE, SGX, core

#3507 Disable tests/tls_e2e on RHEL.
  tests/CMakeLists.txt
Labels: linux, testing

#3515 Update README for samples
  samples/attested_tls/README.md
  samples/host_verify/README.md
  samples/local_attestation/README.md
  samples/remote_attestation/README.md
  samples/remote_attestation/images/remoteattestation_sample_details.png
Labels: attestation, documentation, samples

#3533 Update Intel driver URLs in docs
  docs/GettingStartedDocs/Contributors/NonAccMachineSGXLinuxGettingStarted.md
  docs/GettingStartedDocs/Contributors/WindowsManualSGX1FLCDCAPPrereqs.md
  docs/GettingStartedDocs/Contributors/WindowsManualSGX1Prereqs.md
Labels: SGX, documentation

#3525 Psw2019mismatch
  .jenkins/infrastructure/build_azure_managed_images.Jenkinsfile
  .jenkins/pipelines/Azure/Windows/Jenkinsfile
  docs/GettingStartedDocs/Contributors/WindowsSGX1FLCGettingStarted.md
  docs/GettingStartedDocs/Contributors/WindowsSGX1GettingStarted.md
  docs/GettingStartedDocs/Contributors/WindowsSimulatorGettingStarted.md
  scripts/ansible/oe-windows-acc-setup.yml
  scripts/ansible/roles/windows/az-dcap-client/tasks/validation.yml
  scripts/install-windows-prereqs.ps1
Labels: SGX

#3466 Add callback API to oe_log_message().
  docs/DesignDocs/oe_log_message()_callback_proposal.md
  host/traceh.c
  include/CMakeLists.txt
  include/openenclave/internal/trace.h
  include/openenclave/log.h
  include/openenclave/trace.h
  samples/CMakeLists.txt
  samples/README_Linux.md
  samples/README_Windows.md
  samples/log_callback/CMakeLists.txt
  samples/log_callback/Makefile
  samples/log_callback/README.md
  samples/log_callback/enclave/CMakeLists.txt
  samples/log_callback/enclave/Makefile
  samples/log_callback/enclave/enc.c
  samples/log_callback/enclave/log_callback.conf
  samples/log_callback/host/CMakeLists.txt
  samples/log_callback/host/Makefile
  samples/log_callback/host/host.c
  samples/log_callback/log_callback.edl
  samples/test-samples.cmake
Labels: API, samples

#3527 Update samples so they have the correct instructions for both Windows…
  docs/GettingStartedDocs/Contributors/AdvancedBuildInfo.md
  docs/GettingStartedDocs/Contributors/ExperimentalSupportRHEL8.md
  docs/GettingStartedDocs/Contributors/SGX1FLCGettingStarted.md
  docs/GettingStartedDocs/Contributors/SimulatorGettingStarted.md
  docs/GettingStartedDocs/Contributors/WindowsSGX1FLCGettingStarted.md
  docs/GettingStartedDocs/Contributors/WindowsSGX1GettingStarted.md
  docs/GettingStartedDocs/Contributors/building_oe_sdk.md
  docs/GettingStartedDocs/Edger8rGettingStarted.md
  docs/GettingStartedDocs/Linux_using_oe_sdk.md
  docs/GettingStartedDocs/Windows_using_oe_sdk.md
  samples/BuildSamplesLinux.md
  samples/BuildSamplesWindows.md
  samples/CMakeLists.txt
  samples/README.md
  samples/README_Linux.md
  samples/README_Windows.md
  samples/attested_tls/README.md
  samples/file-encryptor/README.md
  samples/helloworld/README.md
  samples/host_verify/README.md
  samples/local_attestation/README.md
  samples/pluggable_allocator/README.md
  samples/remote_attestation/README.md
  samples/switchless/README.md
Labels: documentation, samples

#3548 Reduce max threads to 8 for pluggable_allocator sample.
  samples/pluggable_allocator/enclave/allocator_demo.conf
  samples/pluggable_allocator/host/host.cpp
Labels: samples

#3492 Disable unsafe OpenSSL APIs/Macros
  3rdparty/openssl/CMakeLists.txt
  3rdparty/openssl/README.md
  3rdparty/openssl/append-unsupported
  3rdparty/openssl/unsupported.h
  docs/OpenSSLSupport.md
  tests/CMakeLists.txt
  tests/openssl/enc/CMakeLists.txt
  tests/openssl_unsupported/CMakeLists.txt
  tests/openssl_unsupported/README.md
  tests/openssl_unsupported/enc/CMakeLists.txt
  tests/openssl_unsupported/enc/enc.c
  tests/openssl_unsupported/host/CMakeLists.txt
  tests/openssl_unsupported/host/host.c
  tests/openssl_unsupported/openssl_unsupported.edl
Labels: API, SGX, security

#3556 Document Security Advisory process for maintainers
  docs/Community/SecurityAdvisoryHandling.md
Labels: documentation, process

#3562 Fix typo in quote-ex Windows DLL file name
  host/sgx/windows/sgxquoteexloader.c
Labels: SGX, attestation, windows

#3570 Check second ocall output buffer size in _get_attester_plugins
  enclave/sgx/attester.c
Labels: SGX, attestation

#3549 Deprecation of support for WS2016 - Changelog
  CHANGELOG.md
Labels: Release Management, windows

#3414 Integrate SGX DCAP quote verification into OE SDK
  docs/DesignDocs/SGX_QuoteVerify_Integration.md
Labels: SGX, attestation

#3582 pass check type of GLOB_DAT in rel.dyn in elf64_load_relocations
  host/sgx/elf.c
  include/openenclave/internal/elf.h
Labels: SGX

#3583 Update CPUID exception handler to support more CPUID leaves.
  common/sgx/cpuid.c
  enclave/core/CMakeLists.txt
  enclave/core/sgx/cpuid.c
  host/CMakeLists.txt
  host/sgx/create.c
  include/openenclave/internal/cpuid.h
  tests/VectorException/VectorException.edl
  tests/VectorException/enc/sigill_handling.c
  tests/VectorException/host/host.c
Labels: SGX

#3327 Remove libsgx-enclave-common-dev
  cmake/cpack_settings.cmake
  devex/vscode-extension/README.md
  devex/vscode-extension/marketplace-homepage.md
  docs/GettingStartedDocs/install_oe_sdk-Ubuntu_16.04.md
  docs/GettingStartedDocs/install_oe_sdk-Ubuntu_18.04.md
  scripts/ansible/roles/linux/intel/vars/redhat/main.yml
  scripts/ansible/roles/linux/intel/vars/ubuntu/main.yml
Labels: SGX, ansible, build

#3613 Document and verify that claims in oe_verify_evidence() is optional
  common/attest_plugin.c
  common/sgx/verifier.c
  include/openenclave/attestation/verifier.h
  include/openenclave/internal/sgx/plugin.h
  tests/attestation_plugin/plugin/tests.c
Labels: API, SGX, attestation
