Repository openenclave/openenclave, pull requests merged in 2020-10, with the labels that each got.

#3544 Step 1 implementation for integrating SGX DCAP quote verification into OE
  3rdparty/sgxsdk/include/sgx_dcap_quoteverify.h
  3rdparty/sgxsdk/include/sgx_ql_quote.h
  3rdparty/sgxsdk/include/sgx_qve_header.h
  3rdparty/sgxsdk/update.make
  common/datetime.c
  common/sgx/quote.c
  enclave/CMakeLists.txt
  enclave/sgx/verifier.c
  enclave/sgx/verifier.h
  host/CMakeLists.txt
  host/sgx/ocalls/ocalls.c
  host/sgx/quote.c
  host/sgx/quote.h
  host/sgx/sgxquote.c
  host/sgx/sgxquote.h
  include/openenclave/edl/sgx/attestation.edl
  include/openenclave/internal/datetime.h
  tests/report/host/host.cpp
Labels: SGX, attestation

#3645 Use safe multiplication for calculating context_size
  enclave/core/sgx/switchlesscalls.c
Labels: SGX, core

#3599 Add design doc to enable debugmalloc for end users.
  docs/DesignDocs/Enabledebugmalloc.md
Labels: design, devex

#3653 Enable debug malloc for end users.
  CMakeLists.txt
  cmake/add_enclave.cmake
  enclave/core/CMakeLists.txt
  enclave/core/debugmalloc.c
  enclave/core/debugmalloc.h
  enclave/core/malloc.c
  enclave/core/sgx/calls.c
  enclave/link.c
  include/CMakeLists.txt
  include/openenclave/corelibc/stdlib.h
  include/openenclave/debugmalloc.h
  include/openenclave/internal/malloc.h
  samples/CMakeLists.txt
  samples/debugmalloc/CMakeLists.txt
  samples/debugmalloc/Makefile
  samples/debugmalloc/README.md
  samples/debugmalloc/debugmalloc.edl
  samples/debugmalloc/enclave/CMakeLists.txt
  samples/debugmalloc/enclave/Makefile
  samples/debugmalloc/enclave/debugmalloc.conf
  samples/debugmalloc/enclave/enc.c
  samples/debugmalloc/host/CMakeLists.txt
  samples/debugmalloc/host/Makefile
  samples/debugmalloc/host/host.c
  samples/test-samples.cmake
  tests/SampleApp/enc/CMakeLists.txt
  tests/attestation_plugin/enc/enc.c
  tests/libc/enc/enc.c
  tests/memory/enc/fragment.c
Labels: API, devex, samples

#3624 Refactor and cleanup SYSCALLs infrastructure
  include/openenclave/internal/syscall/declarations.h
  include/openenclave/internal/syscall/hook.h
  include/openenclave/internal/syscall/sys/syscall.h
  libc/syscalls.c
  syscall/CMakeLists.txt
  syscall/syscall.c
  tests/crypto/enclave/enc/enc.c
  tests/mbed/enc/enc.c
Labels: core

#3534 Add strawman repository guidelines
  docs/Community/Contributing.md
  docs/Community/Repositories.md
Labels: process

#3669 Move enclave-side quote verification logic from common/sgx/quote.c to enclave/sgx/verifier.c
  common/sgx/quote.c
  enclave/sgx/verifier.c
  enclave/sgx/verifier.h
  host/sgx/quote.c
Labels: attestation

#3542 Intel SGX SDK Porting Guide (Linux)
  docs/GettingStartedDocs/IntelSDKPortingGuideLinux.md
Labels: SGX, devex, documentation

#3688 Enabling CFG for oesgx.exe, oesign.exe & oedebugrt.dll
  debugger/debugrt/host/CMakeLists.txt
  tools/oesgx/CMakeLists.txt
  tools/oesign/CMakeLists.txt
Labels: windows

#3661 Fix custom claims problem in SGX verifier plugin
  common/sgx/verifier.c
  tests/attestation_plugin/host/host.c
Labels: SGX, attestation
