Repository openenclave/openenclave, pull requests merged in 2020-06, with the labels that each got.

#3067 Update to use version 1.5.0 of Azure DCAP
  docs/GettingStartedDocs/Contributors/WindowsManualSGX1FLCDCAPPrereqs.md
  scripts/ansible/oe-windows-acc-setup.yml
  scripts/install-windows-prereqs.ps1
Labels: SGX, attestation, azure specific, ci/cd

#3084 Update Contributing docs to include guidance around resolving comment…
  docs/Community/Contributing.md
Labels: documentation

#3027 Initial OP-TEE design notes
  docs/DesignDocs/OpteeIntegration.md
Labels: documentation

#3104 Fix oesign tests introduced by #3046
  common/result.c
  host/sgx/sgxsign.c
  include/openenclave/bits/result.h
  tests/tools/oesign-engine/test-enclave/CMakeLists.txt
  tests/tools/oesign-engine/test-enclave/make-oesign-config.py
  tools/oesign/oesign.c
Labels: bug, testing

#3107 Refactor tests/tools/oesign-engine into tests/tools/oesign
  tests/tools/CMakeLists.txt
  tests/tools/oesign-engine/test-enclave/CMakeLists.txt
  tests/tools/oesign-engine/test-enclave/enclave/CMakeLists.txt
  tests/tools/oesign-engine/test-enclave/host/CMakeLists.txt
  tests/tools/oesign-engine/test-engine/CMakeLists.txt
  tests/tools/oesign/CMakeLists.txt
  tests/tools/oesign/test-enclave/CMakeLists.txt
  tests/tools/oesign/test-enclave/enclave/CMakeLists.txt
  tests/tools/oesign/test-enclave/enclave/enc.c
  tests/tools/oesign/test-enclave/helloworld.edl
  tests/tools/oesign/test-enclave/host/CMakeLists.txt
  tests/tools/oesign/test-enclave/host/host.c
  tests/tools/oesign/test-engine/CMakeLists.txt
  tests/tools/oesign/test-engine/README.md
  tests/tools/oesign/test-engine/oesign-test-engine.c
  tests/tools/oesign/test-engine/oesign-test.py
  tests/tools/oesign/test-inputs/CMakeLists.txt
  tests/tools/oesign/test-inputs/make-oesign-config.py
  tests/tools/oesign/test-inputs/valid.conf
Labels: testing

#3109 Azure CICD Infrastructure Rebuilds Failures
  .jenkins/infrastructure/build_azure_managed_images.Jenkinsfile
  .jenkins/pipelines/Azure/Nightly/nightly_packages_testing.Jenkinsfile
  scripts/ansible/oe-windows-acc-setup.yml
Labels: azure specific, ci/cd

#3122 If not specified, CMAKE_BUILD_TYPE is set to Debug
  CMakeLists.txt
Labels: bug, build

#3121 Improve oesign test structure for extensibility
  tests/tools/oesign/CMakeLists.txt
  tests/tools/oesign/sign-and-verify.py
  tests/tools/oesign/test-enclave/enclave/CMakeLists.txt
  tests/tools/oesign/test-enclave/enclave/enc.c
  tests/tools/oesign/test-enclave/host/CMakeLists.txt
  tests/tools/oesign/test-enclave/host/host.c
  tests/tools/oesign/test-enclave/oesign_test.edl
  tests/tools/oesign/test-engine/CMakeLists.txt
  tests/tools/oesign/test-engine/oesign-test.py
  tests/tools/oesign/test-inputs/CMakeLists.txt
  tests/tools/oesign/test-inputs/make-oesign-config.py
  tests/tools/oesign/test-inputs/valid.conf
  tests/tools/oesign/test-sign/CMakeLists.txt
Labels: devtools, testing

#3115 Add retry logic during dependencies installation
  scripts/ansible/roles/linux/common/tasks/apt-repo.yml
  scripts/ansible/roles/linux/intel/tasks/redhat/sgx-packages-install.yml
  scripts/ansible/roles/linux/openenclave/tasks/redhat/packages-install.yml
  scripts/ansible/roles/linux/openenclave/tasks/ubuntu/packages-install.yml
Labels: ci/cd, devex, testing

#3090 Reduce committed SGX enclave size on Windows
  host/sgx/create.c
  host/sgx/sgxload.c
  host/sgx/sgxload.h
Labels: SGX, windows

#3126 Configure memory allocator in OP-TEE-based enclaves
  enclave/core/optee/gp.c
Labels: OP-TEE

#3091 Fix `__oe_get_enclave_size()` to return ELRANGE size
  enclave/core/sgx/calls.c
  enclave/core/sgx/globals.c
  host/sgx/create.c
  include/openenclave/internal/eeid.h
  tests/eeid_plugin/eeid_plugin.edl
  tests/eeid_plugin/enc/CMakeLists.txt
  tests/eeid_plugin/host/CMakeLists.txt
Labels: SGX, bug

#3019 Update attestation reference and terminology in design doc
  docs/DesignDocs/RemoteAttestationCollaterals.md
Labels: attestation, documentation

#3128 Add support for digest signing to oesign tool
  host/crypto/bcrypt/key.c
  host/measure/CMakeLists.txt
  host/sgx/sgxsign.c
  include/openenclave/internal/sgxsign.h
  tests/tools/oesign/CMakeLists.txt
  tests/tools/oesign/sign-and-verify.py
  tests/tools/oesign/test-digest/CMakeLists.txt
  tests/tools/oesign/test-enclave/enclave/CMakeLists.txt
  tests/tools/oesign/test-enclave/enclave/sgx_conf.c
  tests/tools/oesign/test-engine/CMakeLists.txt
  tests/tools/oesign/test-inputs/CMakeLists.txt
  tests/tools/oesign/test-sign/CMakeLists.txt
  tools/oesign/main.c
  tools/oesign/oesign.c
Labels: SGX, devtools

#3080 Fix crypto crl test time diffing
  libc/CMakeLists.txt
  tests/crypto/crl_tests.c
Labels: testing

#2985 Update SGX_QuoteEx_Integration.md to use API in PR 2949
  docs/DesignDocs/SGX_QuoteEx_Integration.md
Labels: SGX, attestation

#3145 Update the url of Intel SGX DEB key
  docs/GettingStartedDocs/Contributors/NonAccMachineSGXLinuxGettingStarted.md
Labels: bug, documentation

#3136 Add support of SGX reports and quotes in oe_verify_evidence()
  docs/DesignDocs/Attestation_API_Proposal.md
Labels: attestation

#3140 Fix the bug of using weak_alias between static and public functions on windows
  host/sgx/switchless.c
Labels: bug

#3106 add 2 more oesign cases on config check:debug_out_of_range and lowercase_debug_property
  tests/tools/oesign/test-inputs/CMakeLists.txt
  tests/tools/oesign/test-inputs/lowercase_debug_property.conf
  tests/tools/oesign/test-sign/CMakeLists.txt
Labels: testing

#3155 Dynamically load sgx_enclave_common
  CHANGELOG.md
  cmake/openenclave-config.cmake.in
  host/CMakeLists.txt
  host/sgx/sgx_enclave_common_wrapper.c
  host/sgx/sgx_enclave_common_wrapper.h
  host/sgx/sgxload.c
  pkgconfig/CMakeLists.txt
Labels: SGX, SimulationMode, devex

#3162 Install/Run OE SDK on non FLC machines
  CHANGELOG.md
  cmake/openenclave-config.cmake.in
  host/CMakeLists.txt
  host/sgx/sgxquote.c
  pkgconfig/CMakeLists.txt
Labels: SGX, SimulationMode, devex

#3176 Security test - Pass enclave ptr back in to enclave
  tests/oeedger8r/edl/all.edl
  tests/oeedger8r/edl/security.edl
  tests/oeedger8r/enc/CMakeLists.txt
  tests/oeedger8r/enc/testsecurity.cpp
  tests/oeedger8r/host/CMakeLists.txt
  tests/oeedger8r/host/main.cpp
  tests/oeedger8r/host/testsecurity.cpp
Labels: SGX, testing

#3175 Update design doc to reflect Sig-Arch Decision.
  docs/DesignDocs/system_ocall_opt_in.md
Labels: design, devex, documentation

#3089 Add attestation evidence format support doc.
  docs/DesignDocs/AttestationEvidenceFormatSupport.md
Labels: attestation, design

#3142 Clean up oesign python test scripts
  tests/tools/oesign/sign-and-verify.py
  tests/tools/oesign/test-digest/CMakeLists.txt
  tests/tools/oesign/test-engine/CMakeLists.txt
  tests/tools/oesign/test-inputs/make-oesign-config.py
  tests/tools/oesign/test-sign/CMakeLists.txt
Labels: testing

#3188 Document and publish pluggable allocators header file.
  3rdparty/dlmalloc/allocator.c
  3rdparty/snmalloc/allocator.cpp
  CHANGELOG.md
  enclave/core/atexit.c
  enclave/core/debugmalloc.c
  enclave/core/malloc.c
  enclave/core/optee/gp.c
  enclave/core/sgx/backtrace.c
  enclave/core/sgx/calls.c
  enclave/core/sgx/init.c
  enclave/core/sgx/threadlocal.c
  enclave/link.c
  include/CMakeLists.txt
  include/openenclave/advanced/allocator.h
  include/openenclave/internal/allocator.h
Labels: core

#3168 Update attestation plugin API and design to reflect implementation
  docs/DesignDocs/Attestation_API_Proposal.md
Labels: attestation
