Repository openenclave/openenclave, pull requests merged in 2021-04, with the labels that each got.

#3916 Windows 2016 Developer set up deprecation
  .jenkins/infrastructure/update_production_infrastructure.Jenkinsfile
  scripts/install-windows-prereqs.ps1
Labels: windows

#3871 Add oe_verify_attestation_certificate_with_evidence_v2()
  CHANGELOG.md
  common/attest_plugin.c
  include/openenclave/attestation/verifier.h
  samples/attested_tls/AttestedTLSREADME.md
  samples/attested_tls/common/cert_verifier.cpp
  samples/attested_tls/common/identity_verifier.cpp
  samples/host_verify/README.md
  samples/host_verify/host.c
  tests/attestation_cert_apis/enc/enc.cpp
  tests/attestation_plugin_cert/README.md
  tests/attestation_plugin_cert/enc/enc.cpp
  tests/attestation_plugin_cert/host/host.cpp
  tools/oeverify/oeverify.c
Labels: API, attestation

#3935 Environment to enable out of proc attestation for SGX
  .jenkins/infrastructure/dockerfiles/linux/Dockerfile.full
  .jenkins/pipelines/Azure/Linux/Jenkinsfile
  scripts/ansible/roles/linux/docker/tasks/redhat/stable-install.yml
  scripts/ansible/roles/linux/docker/vars/redhat/main.yml
  scripts/ansible/roles/linux/intel/tasks/sgx-driver.yml
Labels: SGX

#3882 Install packages and update documentation for different call paths for SGX quote generation
  CHANGELOG.md
  docs/DesignDocs/SGX_QuoteEx_Integration.md
  docs/GettingStartedDocs/Contributors/SGX1FLCGettingStarted.md
  docs/GettingStartedDocs/Contributors/SGX1GettingStarted.md
  docs/GettingStartedDocs/install_oe_sdk-Ubuntu_18.04.md
  host/sgx/linux/sgxquoteexloader.c
  host/sgx/sgxquote.c
  host/sgx/windows/sgxquoteexloader.c
  samples/BuildSamplesLinux.md
  samples/attestation/README.md
  samples/attestation/host/host.cpp
  samples/test-samples.cmake
  scripts/ansible/roles/linux/intel/vars/redhat/main.yml
  scripts/ansible/roles/linux/intel/vars/redhat/ootpa.yml
  scripts/ansible/roles/linux/intel/vars/ubuntu/main.yml
Labels: SGX

#3949 Allow oecert for out-of-proc quoting for SGX
  .jenkins/pipelines/Azure/Linux/Jenkinsfile
  tests/tools/oecert/README.md
  tests/tools/oecert/host/evidence.cpp
  tests/tools/oecert/host/host.cpp
Labels: SGX

#3973 Implements syscall clock_nanosleep, to support MUSL 1.2.2 and higher
  docs/SystemEdls.md
  host/linux/syscall.c
  host/windows/syscall.c
  include/openenclave/bits/types.h
  include/openenclave/edl/time.edl
  include/openenclave/internal/syscall/unistd.h
  include/openenclave/internal/time.h
  syscall/hostcalls.c
  syscall/syscall.c
  syscall/unistd.c
  tests/edl_opt_out/enc/enc.c
  tests/stdc/enc/enc.cpp
Labels: API
