Repository openenclave/openenclave, pull requests merged in 2021-03, with the labels that each got.

#3448 Add written growth plan
  docs/Community/governance/charter.md
  docs/Community/governance/growth-plan.md
Labels: process

#3834 Fixed OP-TEE standalone build
  devex/cross-nuget/linux/runner.sh
  devex/cross-nuget/standalone-builds/linux/README.md
  devex/cross-nuget/standalone-builds/linux/build-optee.sh
  scripts/check-linters
Labels: OP-TEE

#3858 Updated Azure DCAP installation instructions
  docs/GettingStartedDocs/Contributors/WindowsManualSGX1FLCDCAPPrereqs.md
  docs/GettingStartedDocs/install_host_verify_Windows.md
Labels: documentation

#3862 Guard d_reclen value in syscall readdir
  syscall/devices/hostfs/hostfs.c
Labels: security

#3845 Add a new function oe_get_attestation_certificate_with_evidence_v2()
  CHANGELOG.md
  enclave/tls_cert.c
  include/openenclave/attestation/attester.h
  samples/attested_tls/AttestedTLSREADME.md
  samples/attested_tls/Makefile
  samples/attested_tls/client/Makefile
  samples/attested_tls/client/enc/Makefile
  samples/attested_tls/common/mbedtls_utility.cpp
  samples/attested_tls/common/openssl_utility.cpp
  samples/attested_tls/common/openssl_utility.h
  samples/attested_tls/common/utility.h
  tests/attestation_plugin_cert/enc/enc.cpp
Labels: API, attestation

#3886 Update VSIX include paths to put app's includes first
  devex/vsextension/msbuild/open-enclave-cross.targets
Labels: devex

#3874 Proposal for the FIPS crypto module loading for SGX
  docs/DesignDocs/CryptoModuleLoadingSupport.md
Labels: SGX, design

#3652 Add Sealing APIs
  cmake/enclave_cmake_wrappers.cmake
  docs/DesignDocs/SealingAPI.md
  docs/refman/CMakeLists.txt
  enclave/CMakeLists.txt
  enclave/core/CMakeLists.txt
  enclave/core/seal.c
  enclave/crypto/mbedtls/CMakeLists.txt
  enclave/crypto/mbedtls/gcm.c
  enclave/crypto/openssl/CMakeLists.txt
  enclave/crypto/openssl/gcm.c
  enclave/sealing/CMakeLists.txt
  enclave/sealing/sgx/CMakeLists.txt
  enclave/sealing/sgx/seal_gcmaes.c
  include/CMakeLists.txt
  include/openenclave/internal/crypto/gcm.h
  include/openenclave/seal.h
  include/openenclave/sgx/seal.h
  samples/data-sealing/CMakeLists.txt
  samples/data-sealing/Makefile
  samples/data-sealing/common/CMakeLists.txt
  samples/data-sealing/common/dispatcher.cpp
  samples/data-sealing/common/dispatcher.h
  samples/data-sealing/common/keys.cpp
  samples/data-sealing/common/shared.h
  samples/data-sealing/enclave_a_v1/Makefile
  samples/data-sealing/enclave_a_v2/Makefile
  samples/data-sealing/enclave_b/Makefile
  samples/data-sealing/host/CMakeLists.txt
  samples/data-sealing/host/Makefile
  samples/data-sealing/host/host.cpp
Labels: API, design

#3893 [Docs] Removed occurences of Ubuntu 16.04 from documentation.
  docs/GettingStartedDocs/Contributors/AnsibleGettingStarted.md
  docs/GettingStartedDocs/Contributors/BuildingInADockerContainer.md
  docs/GettingStartedDocs/Contributors/NonAccMachineSGXLinuxGettingStarted.md
  docs/GettingStartedDocs/Contributors/OPTEEGettingStarted.md
  docs/GettingStartedDocs/Contributors/SGX1FLCGettingStarted.md
  docs/GettingStartedDocs/Contributors/SGX1GettingStarted.md
  docs/GettingStartedDocs/Contributors/SimulatorGettingStarted.md
  docs/GettingStartedDocs/HyperVLinuxVMSetup.md
  docs/GettingStartedDocs/OP-TEE/Hardware/ScalysTrustBox.md
  docs/GettingStartedDocs/README.md
  docs/GettingStartedDocs/VisualStudioLinux.md
  docs/GettingStartedDocs/install_host_verify_Ubuntu_16.04.md
  docs/GettingStartedDocs/install_host_verify_Ubuntu_18.04.md
  docs/GettingStartedDocs/install_oe_sdk-Simulation.md
  docs/GettingStartedDocs/install_oe_sdk-Ubuntu_16.04.md
  docs/GettingStartedDocs/install_oe_sdk-Ubuntu_18.04.md
Labels: documentation

#3838 Design: Debugger Support for Multi-Module Enclaves
  CHANGELOG.md
  debugger/debugrt/host/host.c
  debugger/pythonExtension/gdb_sgx_plugin.py
  docs/DesignDocs/DebuggerSupportForMultiModuleEnclaves.md
  host/sgx/create.c
  include/openenclave/internal/debugrt/common.h
  include/openenclave/internal/debugrt/enclave.h
  include/openenclave/internal/debugrt/host.h
  tests/debugger/oegdb/commands.gdb
  tests/debugger/oegdb/host/contract.c
Labels: design

#3901 Retire CodeMonkeyLeet from governance docs
  OWNERS
  docs/CODEOWNERS
  docs/Community/Committers.md
  docs/Community/SecurityAdvisoryHandling.md
  docs/Community/governance/README.md
  docs/Community/sig-architecture/OWNERS
  docs/Community/sig-architecture/README.md
  docs/Community/sig-ci/OWNERS
  docs/Community/sig-ci/README.md
  docs/Community/sig-sgx/OWNERS
  docs/Community/sig-sgx/README.md
Labels: documentation
