Repository openenclave/openenclave, pull requests merged in 2021-02, with the labels that each got.

#3809 Use clang by default with cmake in samples
  samples/attestation/CMakeLists.txt
  samples/attested_tls/CMakeLists.txt
  samples/data-sealing/CMakeLists.txt
  samples/debugmalloc/CMakeLists.txt
  samples/file-encryptor/CMakeLists.txt
  samples/helloworld/CMakeLists.txt
  samples/log_callback/CMakeLists.txt
  samples/pluggable_allocator/CMakeLists.txt
  samples/switchless/CMakeLists.txt
Labels: samples

#3825 Tweak oeedger8r submodule import
  tools/CMakeLists.txt
Labels: build

#3833 Use OBJECT library in data-sealling and attestation samples
  samples/attestation/common/CMakeLists.txt
  samples/data-sealing/common/CMakeLists.txt
Labels: samples

#3840 Add new sgx quote fields to oecertdump output
  tests/tools/oecertdump/host/sgx_quote.cpp
Labels: devtools

#3841 Openssl file encryptor sample and re-org of file-encryptor sample
  samples/file-encryptor/CMakeLists.txt
  samples/file-encryptor/enclave/CMakeLists.txt
  samples/file-encryptor/enclave/Makefile
  samples/file-encryptor/enclave/common/ecalls.cpp
  samples/file-encryptor/enclave/common/encryptor.h
  samples/file-encryptor/enclave/common/file-encryptor.conf
  samples/file-encryptor/enclave/common/trace.h
  samples/file-encryptor/enclave/mbedtls_src/encryptor.cpp
  samples/file-encryptor/enclave/mbedtls_src/keys.cpp
  samples/file-encryptor/enclave/openssl_src/encryptor.cpp
  samples/file-encryptor/enclave/openssl_src/keys.cpp
  samples/file-encryptor/shared.h
  samples/test-samples.cmake
Labels: samples

#3854 In file-encryptor sample, remove padding after decrpytion on last block.
  samples/file-encryptor/host/host.cpp
Labels: bug, samples

#3824 Avoid recompiling common files for each ssl test
  tests/openssl/enc/CMakeLists.txt
Labels: build, testing

#3855 Fix double free on OE_INVALID_IMAGE
  host/sgx/loadelf.c
  tests/CMakeLists.txt
  tests/invalid_image/CMakeLists.txt
  tests/invalid_image/main.cpp
Labels: bug, core
