Repository openenclave/openenclave, pull requests merged in 2021-06, with the labels that each got.

#3984 Support the CapturePFGPExceptions preference
  CHANGELOG.md
  enclave/core/sgx/exception.c
  host/sgx/cpuid.h
  host/sgx/create.c
  host/sgx/sgxload.c
  host/sgx/sgxsign.c
  include/openenclave/bits/exception.h
  include/openenclave/bits/sgx/sgxproperties.h
  include/openenclave/bits/sgx/sgxtypes.h
  include/openenclave/internal/constants_x64.h
  include/openenclave/internal/sgx/td.h
  include/openenclave/internal/sgxcreate.h
  include/openenclave/internal/sgxsign.h
  tests/CMakeLists.txt
  tests/pf_gp_exceptions/CMakeLists.txt
  tests/pf_gp_exceptions/enc/CMakeLists.txt
  tests/pf_gp_exceptions/enc/enc.c
  tests/pf_gp_exceptions/enc/sign.conf
  tests/pf_gp_exceptions/host/CMakeLists.txt
  tests/pf_gp_exceptions/host/host.c
  tests/pf_gp_exceptions/pf_gp_exceptions.edl
  tests/props/host/host.c
  tools/oesign/oesign.c
Labels: SGX

#4069 Deprecate Release build type for RelWithDebInfo
  .jenkins/pipelines/Agnostic/Linux/Jenkinsfile
  .jenkins/pipelines/Azure/Linux/Jenkinsfile
  .jenkins/pipelines/Azure/Nightly/Packaging.Jenkinsfile
  .jenkins/pipelines/Azure/Nightly/libcxx_tests.Jenkinsfile
  .jenkins/pipelines/Azure/Windows/Jenkinsfile
Labels: ci/cd

#4036 Update docs with Ubuntu 20.04
  docs/GettingStartedDocs/Contributors/AnsibleGettingStarted.md
  docs/GettingStartedDocs/Contributors/BuildingInADockerContainer.md
  docs/GettingStartedDocs/Contributors/NonAccMachineSGXLinuxGettingStarted.md
  docs/GettingStartedDocs/Contributors/SGX1FLCGettingStarted.md
  docs/GettingStartedDocs/Contributors/SGX1GettingStarted.md
  docs/GettingStartedDocs/Contributors/SimulatorGettingStarted.md
  docs/GettingStartedDocs/Contributors/building_oe_sdk.md
  docs/GettingStartedDocs/HyperVLinuxVMSetup.md
  docs/GettingStartedDocs/README.md
  docs/GettingStartedDocs/VisualStudioLinux.md
  docs/GettingStartedDocs/install_host_verify_Ubuntu_20.04.md
  docs/GettingStartedDocs/install_oe_sdk-Simulation.md
  docs/GettingStartedDocs/install_oe_sdk-Ubuntu_20.04.md
Labels: documentation

#4092 oelldb test for multi-module support
  tests/module_loading/CMakeLists.txt
  tests/module_loading/commands.py
Labels: SGX, devtools, testing

#3985 Add positive testcases for config_id verification on icelake VMs
  docs/GettingStartedDocs/buildandsign.md
  host/sgx/create.c
  host/sgx/sgxload.c
  include/openenclave/bits/sgx/sgxproperties.h
  include/openenclave/bits/sgx/sgxtypes.h
  tests/config_id/CMakeLists.txt
  tests/config_id/common.h
  tests/config_id/config_id.edl
  tests/config_id/enc/CMakeLists.txt
  tests/config_id/enc/enc.c
  tests/config_id/enc/enc.cpp
  tests/config_id/enc/props.c
  tests/config_id/enc/props_kss.c
  tests/config_id/enc/sign.conf
  tests/config_id/enc/sign_kss.conf
  tests/config_id/host/CMakeLists.txt
  tests/config_id/host/host.c
  tests/config_id/host/host.cpp
  tools/oesign/oesign.c
Labels: SGX, testing

#4121 Use default Intel SGX drivers when present
  scripts/ansible/roles/linux/intel/tasks/driver-validation.yml
  scripts/ansible/roles/linux/intel/tasks/sgx-driver.yml
  scripts/ansible/roles/linux/intel/vars/main.yml
  scripts/ansible/roles/linux/intel/vars/ubuntu/focal.yml
Labels: SGX
